<div class="profile-form">
    <h1>
        Change your password
    </h1>
    <div class="ui divider"></div>
<form [formGroup]="changePasswordForm" class="ui form" (ngSubmit)="changePassword()">
    <div class="field">
        <app-input [control]="changePasswordForm.get('password')"
                    label="New password" inputType="password"></app-input>
      </div>
      <div class="field">
        <app-input [control]="changePasswordForm.get('confirmpassword')"
                    label="Confirm password" inputType="password"></app-input>
      </div>
      <div *ngIf="changePasswordForm.controls.confirmpassword.touched &&
      changePasswordForm.controls.confirmpassword.dirty" style="color: red;">
      <ng-container *ngIf="changePasswordForm.errors">
        <small *ngIf="changePasswordForm.errors.passwordsDontMatch">
          Passwords should match
        </small>
    </ng-container>
        </div>
      <button class="ui teal button" type="submit">Change password</button>
    
</form>
</div>

